

.calendar__title{
    text-align: center;

}


.card-img-top{
    background: white;
}
.card{
    background-color:#262626;
}
.card-title{
    text-align: left;
    margin-top:10px;
}

.card-subtitle{
    color: #ccc;
    a{
        color: lighten($gold, 30);
    }
}
.card-text{
    color:white;
}
// .card__banner-container{
//     position: absolute;
//     height: 100%;
//     width: 100%;
// }
.card__banner-img{
    display: block;
    position: absolute;
    width: 10%;
   right: 0;
    filter: drop-shadow(0 0 20px #333);
}
