

.calendar__title{
    text-align: center;

}


.card-img-top{
    background: white;
}
.card{
    background-color:#262626;
}
.card-title{
    text-align: left;
    margin-top:10px;
}

.card-subtitle{
    color: #ccc;
    a{
        color: lighten($gold, 30);
    }
}
.card-text{
    color:white;
}

