.late-night-feature{
	background: #222;
	position: relative;
	padding: 20px 80px 10px 20px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1px solid #333;

	&__smalltext{
		text-transform: uppercase;
		font-size: 12px;
		a{
			color: white;
			text-decoration: underline;
		}
	}

	&__flag{
		width: 60px;
		position: absolute;
		top: 0;
		right: 0;
	}
}

.sticky-side{

	@include media-breakpoint-up(lg) {
		position: sticky;
		top: 0;
	}
}