
.filter-header{
	background-color:#FFCD00;
	color:black;
	padding:10px 15px;
}
.ptop-30{
	padding-top: 30px;
}
.card__banner-img{
    display: block;
    position: absolute;
    width: 10%;
    margin-right:15px;
    filter: drop-shadow(0 0 20px #333);
}
.brand-image{
	height:70px;
}