
.ptop-30{
	padding-top: 30px;
}

.ptop-60{
	padding-top: 60px;
}
.ptop-80{
	padding-top: 80px;
}
.ptop-100{
	padding-top: 100px;
}
.card__banner-img{
    display: block;
    position: absolute;
    float: left;
    width: 10%;
    margin-right:15px;
    filter: drop-shadow(0 0 20px #333);
}
.card-columns--constrained{
	@include media-breakpoint-up(sm) {
		column-count: 1;
	}
	@include media-breakpoint-up(lg) {
		column-count: 3;
	}
}

hr{
	border-color: #666;
}
.date-tile{
	background-color: black;
	font-weight: bold;
	margin: 10px 10px;
	padding-top:15px;
	padding-left:15px;
	color:lightgrey;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.dates-btn{
	font-weight: bold;
	color:#FFCD00;
	background-color:rgba(0,0,0,0);
	border-color:rgba(0,0,0,0);
	font-size: 20px;
}

button:hover{
	color:#b39000;
}

.extra-dates-tile{
	background-color: black;
	font-weight: bold;
	margin: 10px 10px;
	padding:15px;
	color:lightgrey;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}