/silverstripe-cache/
/.env
/vendor/
/themes/simple/
/public/_resources/
/resources/
/public/resources/
/public/assets/
/assets
/cache
npm-debug.log
.DS_Store
.sass-cache
node_modules/
maintenance-mode/
.phpintel
/public/cache
staticlog.log
buildlog.log
/.tmp
