
#detail_event_description {
    min-height: 450px;
    padding: 2%;
}

#detail_event_description a { color: #bfa7c5 }
#detail_event_description a:hover { color: #e7d3ec }
#detail_event_description h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.3em;
    margin-top: 0;
    margin-bottom: 10px;
}
#detail_event_description p {
    font-size: 1em;
    font-family: "Open Sans", sans;
}
#detail_event_description img {
    margin: 0 30px 20px 30px;
    border: 1px solid #555555;
}

#detail_event_description_map {
    margin-top: 10px;
}

.location-info p, .location-info h2{
    margin: 5px 0;

}

.location-info .map-container{
    height: 300px;
}

#map_canvas {
    width: 100%;
    border: 1px solid #444
}