
/* FlexSlider Necessary Styles */
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > .slide {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Flex Direction Nav */
/* Direction Nav */
.flex-direction-nav { height: 0; padding: 0; margin: 0; list-style-type: none;}
.flex-direction-nav a {
	width: 38px;
	height: 79px;
	margin: -40px 0 0;
	display: block;
	background-image: none;
	position: absolute;
	top: 27%;
	z-index: 10;
	cursor: pointer;
	text-indent: -9999px;
	opacity: 1;
	-webkit-transition: all .3s ease;
}
.flex-direction-nav .flex-prev {
	background: url(../js/flexslider/images/flexslider_prev.png) no-repeat 0 0;
	left: 10px;
}
.flex-direction-nav .flex-next {
	background: url(../js/flexslider/images/flexslider_next.png) no-repeat 0 0;
	right: 10px;
}
.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {
	opacity: 1;
}
.flex-direction-nav .flex-disabled {
	opacity: .3!important;
	filter: alpha(opacity=30);
	cursor: default;
}

/* Control Nav */
.flex-control-nav {width: 100%; text-align: center; padding: 0; margin: 11.5px 0px -30px 0px;}
.flex-control-nav li {margin: 0 6px; display: inline-block;/* zoom: 1*/; *display: inline;}
.flex-control-paging li a {width: 17px; height: 17px; display: block; background: #a3a3a3; cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.flex-control-paging li a:hover { background: #ddd;  }
.flex-control-paging li a.flex-active { background: white; cursor: default; }

@media only screen and (min-width: 960px) { 
	.flex-direction-nav a {
		top:40%;
	}
}

@media only screen and (min-width: 1800px) { 

	.flex-direction-nav .flex-prev {
		left: 15%;
	}
	.flex-direction-nav .flex-next {
		right: 15%;
	}  

}