

#page_footer {
    min-height: 200px;
    background-color: black;
    margin-top: 0;
    border-top: 5px solid #E8CA66;
    padding:10px;
}
#page_footer .container {
    color: #E8CA66;
    padding-bottom: 35px;
}
#page_footer .container ul {
    margin: 0;
    padding: 20px 0 0 0;
    list-style: none;
}
#page_footer .container ul li {
    float: left;
    padding-right: 20px;
    font-family: 'Doppio One', monospace;
}
#page_footer .container ul li a {
    text-decoration: none;
    color: #E8CA66;
    font-size: 1em;
    font-weight: 400;
}
#page_footer .container ul li a:hover { color: #a0a0a0 }

#logo-container a {
    display: block;
   }
#logo-container a img{
    max-width: 75%;
   }

#mc_embed_signup { margin-bottom: 15px }
.response {
    width: 400px;
    background: #333;
    margin: 10px 0;
    padding: 10px;
}
.response a { color: #ffe588 }
#mc-embedded-subscribe { margin-left: 5px }

.disability-statement {
    font-size: 0.9em;
    margin: 5px 0;
    color: #EBE5E6;
}
@media only screen and (min-width: 768px) { 
    #footer-social-media {
        float: left;
        margin-top: 20px;
    }
    #page_footer .container #ui_logo {
        float: left;
        padding-top: 14px;
        margin-right: 20px;
    }
    #page_footer .container #search_footer {
        position: absolute;
        right: 0;
        background-color: white;
        width: 250px;
        height: 25px;
        top: 15px;
    }
    #logo-container { }
    #logo-container a {
        display: block;
        margin: 5px 0;
    }
    .uiowa-logo { }
    #dsl-info { float: right }
    #dsl-info { text-align: right }
    #dsl-info p {
        margin-top: 5px;
        margin-bottom: 0;
    }
    #dsl-info a { color: #ffe588 }
}