/* Original file below */


#calendar-filter-form {
	/*display: none;*/
}

#calendar-widget {min-height:180px;position:relative;
	border: 1px solid rgba(68, 68, 68, 0.39);
	background-color: #1D1B1F;
	margin-bottom: 0.5em;
}
#calendar-widget img {position:absolute;top:50%;left:50%;margin:-16px 0 0 -16px;}
/* widget positioning */
div.dp-popup {
	margin:0 auto;
	width: 100% ;
	background: none ;
}

/* calendar colors */
div.dp-popup {
	color:#333;
}
div.dp-popup h2 {
	color:#fff;
}
div.dp-popup a {
	color: #000;
}
div.dp-popup a.disabled {
	color: #aaa;
}
table.calendar-widget-table {
	height: 150px ;
	font-size: 1em ;
	background: none ;
	width: 100%;
}
table.calendar-widget-table th {
	color: #C6F5FF ;
	border-spacing: 4px 4px 0;
}
table.calendar-widget-table th:after {
	clear: both;
}
table.calendar-widget-table th .prev, table.calendar-widget-table th .next{
	font-size: 1.3em;
}
table.calendar-widget-table th .prev{
	float: left;
}
table.calendar-widget-table th .next {
	float: right;
}

table.calendar-widget-table thead {
	text-align: center;
}

table.calendar-widget-table td {
	color: white;
	padding: 0.8em 0.5em;
	cursor: pointer;
}
table.calendar-widget-table td.other-month {

	color: #aaa;
	background: none ;
}
table.calendar-widget-table td.today {
	color: #EACC5F;
	font-weight: strong ;
	background: #033F80;
}
table.calendar-widget-table td.selected {
	background: #4C3D69;
}
table.calendar-widget-table td.selected:hover {
	background: #6ad;
	color: #fff;
}
table.calendar-widget-table td:hover, table.calendar-widget-table td.dp-hover {
	background: #4C3D69;
}
table.calendar-widget-table td.disabled, table.calendar-widget-table td.disabled:hover {
	background: #eee;
	color: #888;
}
/* end colors */


/* table borders, font and padding */
table.calendar-widget-table {
	border:0;
  /*  border-collapse: separate; */
    border-spacing: 3px;
    margin:2px auto;
    margin-bottom: 20px;

}
table.calendar-widget-table th {
	font-weight: normal;
	padding: 10px 5px;
	border:0;
}
table.calendar-widget-table th a {
	color: white;
	font-weight: normal;
}
table.calendar-widget-table .calendar-header td{
	font-size: 0.7em;
	background: none;
	padding: 3px;
	border: none;
	color: #969696;
}
table.calendar-widget-table td {
	padding: 0.5em 0.3em;
	text-align: center;
}
table.calendar-widget-table td.hasEvent:before {
	color: #7BCDF0;
	content: "\2022";
	padding-right: 3px;
}
@media only screen and (min-width: 1024px) { 
	table.calendar-widget-table td {
		position: relative;
	}
	table.calendar-widget-table td.hasEvent:before {
		position: absolute;
		left: 45%;
		top: 55%;
	}
}
/* For the popup */

/* NOTE - you will probably want to style a.dp-choose-date - see how I did it in demo.css */

div.dp-popup {
	position: relative;
	padding: 0;
	line-height: 1.2em;
}
div#dp-popup {
	position: absolute;
	z-index: 199;
}
div.dp-popup h2 {
	font-size: 12px;
	text-align: center;
	margin: 0;
	padding: 4px 0;
}
a#dp-close {
	font-size: 11px;
	padding: 4px 0;
	text-align: center;
	display: block;
}
a#dp-close:hover {
	text-decoration: underline;
}
div.dp-popup a {
	text-decoration: none;
	padding: 3px 2px 0;
}
div.dp-popup div.dp-nav-prev {
	position: absolute;
	top: 2px;
	left: 4px;
	width: 20px;
}


a.dp-nav-prev-year,
a.dp-nav-next-year {
display:none;
}
div.dp-popup div.dp-nav-prev a {
	float: left;
}
/* Opera needs the rules to be this specific otherwise it doesn't change the cursor back to pointer after you have disabled and re-enabled a link */
div.dp-popup div.dp-nav-prev a, div.dp-popup div.dp-nav-next a {
	cursor: pointer;
	font-size: 0.8em;
	font-weight: bold;
	color:#fff; 

}

div.dp-popup div.dp-nav-prev a:hover, div.dp-popup div.dp-nav-next a:hover {color:#dedede;}

div.dp-popup div.dp-nav-prev a.disabled, div.dp-popup div.dp-nav-next a.disabled {
	cursor: default;
}
div.dp-popup div.dp-nav-next {
	position: absolute;
	top: 2px;
	right: 4px;
	width: 20px;
}
div.dp-popup div.dp-nav-next a {
	float: right;
}
div.dp-popup a.disabled {
	cursor: default;
}
div.dp-popup td {
	cursor: pointer;
}
div.dp-popup td.disabled {
	cursor: default;
}


.show-month {
	text-transform: uppercase;
}
/*Month Heading Style JT*/
#calendar-widget h2 {text-decoration: underline; padding: 8px 0;font-size: 1.5em ; text-decoration: none; background: #313131;}
div.dp-calendar{padding-bottom: 2px;}

