body {
	font-family: arial, helvetica, sans-serif;
}
/* fixing the input field*/
fieldset{
	border: 0;
	margin: 0;
	padding: 0; 
}

#Form_Form {
	/*color: #ffde68; */
}

#Form_Form label {
	font-size: 1.1em;
	padding: 10px 0; 
	display: block;
}

#Form_Form input.text{
	background: #333;
	border: 1px solid #555;
	color: #ffe898; 	
}

.caucusPad { 
	padding: 10px 12px 18px 15px;
}

.text label {
	margin: 10px 0px 0px 0px; 
}

.caucus-container {
	width: 1050px;
	margin: auto;
	min-height: 898px;
	background: #FFFAE7; 
	/*background-image: linear-gradient(bottom, #4F3B53 32%, #816679 66%);
	background-image: -o-linear-gradient(bottom, #4F3B53 32%, #816679 66%);
	background-image: -moz-linear-gradient(bottom, #4F3B53 32%, #816679 66%);
	background-image: -webkit-linear-gradient(bottom, #4F3B53 32%, #816679 66%);
	background-image: -ms-linear-gradient(bottom, #4F3B53 32%, #816679 66%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.32, #4F3B53),
		color-stop(0.66, #816679)
	);*/
	
}
.caucus-container p {
	color: #645211;

}
.caucus-container h1 {
	font-family: 'SketchBlock-Bold', sans;
	color: #ffd026;
	font-size: 130px;
	margin: 3px 0;
}
.caucus-header {
	display: block;
	float: left;
	margin: 16px 0;
}

.caucus-facebook {
	margin: 20px 0;
}
.caucus-facebook iframe {
	margin: auto;
	display: block;
	background: url(../images/dark_leather.png);
}
.caucus-form {
	display: block;
	float: right;
	width: 300px;
	border: #666 solid 1px;
	background-color: white;
	margin: 10px; 
}

.caucus-form #Form_Form {
	background: none;
	border: none;
	padding: 0;
}
.caucus-form #Form_Form input.text {
	font-size: 16px;
	padding: 2px;
	width: 100%;
}

.caucus-steps {
	
	min-width: 667px; 
	font-size: 32px;
	float: left;
	background-color: white;
	margin: 10px;
	border: #666 solid 1px;
	
}

.caucus-steps ol {
	padding: 86px 12px 18px 53px;
}

.caucus-steps li {

	padding: 20px 0;

}

.caucus-button {
	padding: 20px;
	background: #268FAB url(button.png) repeat-x bottom; 
	border: none; 
	color: #fff; 
	font-weight: bold; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	text-shadow: 1px 1px #666;
	text-decoration: none;
}

.caucus-button.logout {
	background: #694a5f;

}

.caucus-steps li a:hover{
	color: #efefef;

}

.caucus-tagline {
	display: block;
	padding: 12px 4px 8px 10px;
	width: 98%;

}

.hClear {
	clear: both;
}

.outer_wrapper {
	width: 100%;
	position: relative;
	z-index: 2; 
	background: url(../images/HawkCaucus/layers.png) no-repeat center top;
	background-color: #666;
}

.logo{
	width: 100%; 
	float: left;
	padding: 0px 14px 9px 4px; 
	background: #666;
}
.background {
	background: #666; 
}

.caucus-content{
	background: #FFFAE7;
	display: inline-block;
	width: 100%; 
}

/* title stuff */
.widget {
	width: 68.5%;
	height: 40px;
	padding: 9px 53px 4px 156px;
	float: left;
	color: #000;
	font-weight: bold; 
	margin-top: 0px; 
}
.widget2 {
	width: 90%;
	height: 28px;
	padding: 18px 5% 6px 5%;
	float: left;
	color: #000;
	font-weight: bold; 
	margin-top: 0px; 
}

.backcolr{
	background-color: #f5cb11; 
}

