@charset "utf-8";


@import "settings/division-settings";
// Libraries
@import "lib/fa/font-awesome";
@import "lib/foundation/scss/foundation";




@include foundation-grid;
@include foundation-xy-grid-classes(
  /* options
  $base-grid: true,
  $margin-grid: true,
  $padding-grid: true,
  $block-grid: true,
  $collapse: true,
  $offset: true,
  $vertical-grid: true,
  $frame-grid: true
  */
);

@import "base/mixins";
@import "base/main";
@import "base/print";


//Division Footer:
@import "layouts/footer";




//OLD BELOW




@import "lib/flickity";

@import "imports/_config";
@import "imports/_foundation-grid-utils";

/* Basic Stuff */
@import "imports/_boilerplate";
@import "imports/_helpers";
@import "imports/_print";
@import "imports/_font";



/* Global Layout Styles */
@import "layout/_layout";
@import "../../../uiowa-bar/scss/uiowa-bar";
/* Specific Layouts */
@import "layout/_calendar-widget";
@import "layout/_category";
@import "layout/_event-card";
@import "layout/_event";

@import "layout/footer";

@import "layout/_form";
@import "layout/_header";
@import "layout/_hero-event";
@import "layout/_nearby";
@import "layout/_search";
@import "layout/_sidebar";
@import "layout/_sponsors";
@import "layout/_submit";
@import "layout/_slider";

/* Subsite Styles */
@import "layout/_orientation";

