.header__container{


    background: #000;
    border-bottom: 4px solid $gold;
}


.navbar{
    color:#262626;
    background: #000;
    text-transform: uppercase;
    font-family: $headings-font-family;
    padding: 0;
}

.nav-link{
    color:white;

    &--large{

        @include media-breakpoint-up(lg) {
            font-size: 28px;
        }
        
    }
}

.nav-link:focus, .nav-link:hover{
    color:#a6a6a6;
}
.navbar-brand{
    color:white;
}
.navbar-brand:focus, .navbar-brand:hover{
    color:#a6a6a6;
}
.brand-image{
    height:50px;
}
.header-graphic__img{
    width:100%;
    display:block;
    margin: 0;
}