.marquee{
    min-height: 200px;

    @media #{$large-up}{
        min-height: 440px;
    }
}

.LocalistCalendar{
	.row{
		max-width: 1600px;
	}
	#page_header {
	    @media #{$large-up} {
	        height: 165px;
	    }
	}
}