/* Original file below */

#calendar-filter-form {
    /*display: none;*/
}

#calendar-widget {
    min-height: 180px;
    position: relative;
    border: 1px solid rgba(68, 68, 68, 0.39);
    background-color: #1D1B1F;
    margin-bottom: 0.5em;
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -16px 0 0 -16px;
    }
}

/* widget positioning */

div.dp-popup {
    margin: 0 auto;
    width: 100%;
    background: none;
    color: #333;
    h2 {
        color: #fff;
    }
    a {
        color: #000;
        &.disabled {
            color: #aaa;
        }
    }
}

/* calendar colors */

table.calendar-widget-table {
    height: 150px;
    font-size: 1em;
    background: none;
    width: 100%;
    th {
        color: #C6F5FF;
        border-spacing: 4px 4px 0;
        &:after {
            clear: both;
        }
        .prev, .next {
            font-size: 1.3em;
        }
        .prev {
            float: left;
        }
        .next {
            float: right;
        }
    }
    thead {
        text-align: center;
    }
    td {
        color: white;
        padding: 0.8em 0.5em;
        cursor: pointer;
        &.other-month {
            color: #aaa;
            background: none;
        }
        &.today {
            color: #EACC5F;
            font-weight: strong;
            background: #033F80;
        }
        &.selected {
            background: #4C3D69;
            &:hover {
                background: #6ad;
                color: #fff;
            }
        }
        &:hover, &.dp-hover {
            background: #4C3D69;
        }
        &.disabled {
            background: #eee;
            color: #888;
            &:hover {
                background: #eee;
                color: #888;
            }
        }
    }
    border: 0;
    /*  border-collapse: separate; */
    border-spacing: 3px;
    margin: 2px auto;
    margin-bottom: 20px;
    th {
        font-weight: normal;
        padding: 10px 5px;
        border: 0;
        a {
            color: white;
            font-weight: normal;
        }
    }
    .calendar-header td {
        font-size: 0.7em;
        background: none;
        padding: 3px;
        border: none;
        color: #969696;
    }
    td {
        padding: 0.5em 0.3em;
        text-align: center;
        &.hasEvent:before {
            color: #7BCDF0;
            content: "\2022";
            padding-right: 3px;
        }
    }
}

/* end colors */

/* table borders, font and padding */

@media only screen and (min-width: 1024px) {
    table.calendar-widget-table td {
        position: relative;
        &.hasEvent:before {
            position: absolute;
            left: 45%;
            top: 55%;
        }
    }
}

/* For the popup */

/* NOTE - you will probably want to style a.dp-choose-date - see how I did it in demo.css */

div {
    &.dp-popup {
        position: relative;
        padding: 0;
        line-height: 1.2em;
    }
    &#dp-popup {
        position: absolute;
        z-index: 199;
    }
    &.dp-popup h2 {
        font-size: 12px;
        text-align: center;
        margin: 0;
        padding: 4px 0;
    }
}

a#dp-close {
    font-size: 11px;
    padding: 4px 0;
    text-align: center;
    display: block;
    &:hover {
        text-decoration: underline;
    }
}

div.dp-popup {
    a {
        text-decoration: none;
        padding: 3px 2px 0;
    }
    div.dp-nav-prev {
        position: absolute;
        top: 2px;
        left: 4px;
        width: 20px;
    }
}

a {
    &.dp-nav-prev-year, &.dp-nav-next-year {
        display: none;
    }
}

div.dp-popup {
    div {
        &.dp-nav-prev a {
            float: left;
            cursor: pointer;
            font-size: 0.8em;
            font-weight: bold;
            color: #fff;
        }
        &.dp-nav-next a {
            cursor: pointer;
            font-size: 0.8em;
            font-weight: bold;
            color: #fff;
        }
        &.dp-nav-prev a:hover, &.dp-nav-next a:hover {
            color: #dedede;
        }
        &.dp-nav-prev a.disabled {
            cursor: default;
        }
        &.dp-nav-next {
            a {
                &.disabled {
                    cursor: default;
                }
                float: right;
            }
            position: absolute;
            top: 2px;
            right: 4px;
            width: 20px;
        }
    }
    a.disabled {
        cursor: default;
    }
    td {
        cursor: pointer;
        &.disabled {
            cursor: default;
        }
    }
}

/* Opera needs the rules to be this specific otherwise it doesn't change the cursor back to pointer after you have disabled and re-enabled a link */

.show-month {
    text-transform: uppercase;
}

/*Month Heading Style JT*/

#calendar-widget h2 {
    text-decoration: underline;
    padding: 8px 0;
    font-size: 1.5em;
    text-decoration: none;
    background: #313131;
}

div.dp-calendar {
    padding-bottom: 2px;
}