.event-card-list-container{
    margin: $column-gutter/2 0;
    &.first{
        margin-top: 0;
    }
    h2{
        font-weight: normal;
        font-size: 2.2em;
        margin-top: 0;
        margin-bottom: 0.5em;
        text-align: center;
        text-transform: uppercase;
        background-color: $purple;
        padding: 5px;

        &.student-life{
            background-color: white;
            color: #222;
            border-bottom: $gold 4px solid;
        }
    }

    .event-card-header-bar{
        background-color: $purple;
        padding: 5px;
        margin-top: 0;
        margin-bottom: $column-gutter;
        text-align: center;

        &.date-bar{
            background-color: darken($blue,10);
        }

        h2{
            background: none;
            margin: 0;
            padding: 0;
            display: inline;
            font-size: rem-calc(40);
        }

        .header-bar-menu{
            &.right{
                text-align: right;
            }

            &.left{
                text-align: left;
            }
            .calendar-toggle{
                @include button();
                @include dropdown-button(
                    $padding:tiny,
                    $pip-color:#fff,
                    $base-style:true
                  );
                background-color: darken($blue, 10);
                &:hover{
                    background-color: darken($blue, 20);
                }
                padding: 0 40px;
                margin: 0;
                i{
                    font-size: rem-calc(40);
                }
            }
            
  
           /* .fi-calendar{
                position: relative;
                font-size: rem-calc(42);
                &:hover{
                    cursor: pointer;
                }
            }

           .fi-calendar:after{
                content: "";
                display: block;
                width: 0;
                height: 0;
                border: inset 5px;
                border-color: rgba(255, 255, 255, 0.4) transparent transparent transparent;
                border-left-style: solid;
                margin-right: 0.83333rem;
                margin-top: -4.5px;
                position: absolute;
                top: 50%;
                left: 36px;
            }*/
        }

    }
}

.event-card-list{

    @include block-grid(
        $per-row: 1
    );

    @media #{$medium-up}{
        @include block-grid(
            $per-row: 2,
            $spacing: $column-gutter
        );

    }
    @media #{$large-up}{
        @include block-grid(
            $per-row: 3,
            $spacing: $column-gutter
        );
    }

    &.large{
        @media #{$large-up}{
            @include block-grid(
                $per-row: 4,
                $spacing: $column-gutter
            );
        } 
    }


}

.event-card{
    overflow: hidden;

    &:hover {
        cursor: pointer;
    }

    .button{
        margin-bottom: 0;
    }

    &.canceled {
        background-color: #3e3e3e;
        h3 a {
            color: #eaeaea;
            &:hover {
                color: #dfdfdf;
            }
        }
    }

    h3 {
        font-size: 1.3em;
        display: inline;
        color: #E6E2DF;
        margin: 0;

        a{
            color: #CDEBF3;
            &:hover{
                color: #7BCDF0;
            }
        }

    }

    p.dates-times{
        display: inline;
    }

    .placeholder-image {
        width: 250px;
        height: 158px;
    }

    .event-card-content {
        color: white;
    }

    .event-card-image {
        width: 100%;
        background-size: cover;
        height: 222px;
        background-position-x: 50%;
        background-position-y: 50%;
        background-repeat: no-repeat;
        img {
            width: 100%;
        }
    }

}