#page_header {
    background-position: 215% 0;
    background-size: cover;
    background-color: #4A374D;
    background-repeat: repeat-x;
    @media #{$medium-up} {

        p {
            top: -15px;
        }
    }
    @media #{$large-up} {
        height: 128px;
    }
    @media #{$xxlarge-up} {
         background-size: contain;
        p {
            font-size: 1.1em;
        }
    }
    .big_header {
        position: relative;
        top: 0px;
        margin: 0;
        padding: 0;
        color: #ffd026;
        letter-spacing: -6px;
        text-shadow: 4px 4px 8px #000000;
        margin-left: -10px;
        margin-top: 10px;
        line-height: 0.6;
        text-align: center;
        .subheader {
            margin-top: 5px;
        }
        a {
            color: #ffd026;
            text-decoration: none;
            img {
                width: 100%;
            }
        }
        @media #{$small-up} {
            a img {
                width: 65%;
            }
        }
        @media #{$medium-up} {
            a img {
                width: 45%;
            }
        }
        @media #{$large-up} {
            a img {
                width: 47%;
            }
        }
        @media #{$xlarge-up} {
            margin-top: 0;
            a img {
                width: 38%;
            }
        }
    }
    p {
        display: inline;
        left: 0;
        font-size: 1em;
        color: #d0c2d0;
        text-transform: lowercase;
        background-repeat: no-repeat;
        padding: 0;
        text-shadow: 0px 1px 14px rgba(0, 0, 0, 0.8);
        display: none;
        margin: 0;
        margin-top: -10px;
        em {
            text-transform: uppercase;
            font-style: normal;
        }
        @media #{$medium-up} {
            display: block;
        }
    }
    .row {
      //  background: url("../images/header-buildings-smaller.png");
        background-repeat: no-repeat;
        background-position-x: 100%;
        background-position-y: 75%;
        height: 100%;
        background-size: 100%;
        @media #{$small-up} {
            background-size: 75%;
        }
        @media #{$medium-up} {
           // background: url("../images/header-buildings-medium.png");
            background-position-y: 58%;
            background-position-x: 100%;
            background-repeat: no-repeat;
            background-size: 50%;
            @media #{$xlarge-up} {
                background-size: 45%;
            }
        }
    }
    a {
        font-weight: normal;
    }
}

/* Secondary Nav Styles */

#secondary-nav {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.secondary-nav {
    h3 {
        margin: 0;
    }
    p {
        margin: 0.5em 0;
    }
    .button.tag{
        background: none;
        font-size: rem-calc(12);
        color: white;
    }

}

#page_navigation {
    background-color: #312D2E;
    text-align: center;

}

#page_navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    display: inline-block;
    li {
        display: inline-block;
        &.first {

        }
        ul {
            li {
                margin: 0;
                text-align: left;
                &.no-events span {
                    color: #8f8f8f;
                    &:hover {
                        color: #8f8f8f;
                    }
                }
                a:hover {
                    background-color: #6c5370;
                    background-image: none !important;
                }
            }
            float: none;
        }
        &.first a {
            text-align: center;
        }
        a {
            &#calendar-expand {
                &:after {
                    content: '';
                    width: 0px;
                    height: 0px;
                    border-style: solid;
                    border-width: 4px 2.5px 0 2.5px;
                    border-color: #ccb3d1 transparent transparent transparent;
                    position: relative;
                    top: 11px;
                    left: 1px;
                    margin: 2px;
                }
                &.active:after {
                    width: 0px;
                    height: 0px;
                    border-style: solid;
                    border-width: 0 2px 3px 2px;
                    border-color: transparent transparent #9356A2 transparent;
                    top: -7px;
                    left: 1px;
                    margin: 2px;
                }
            }
            strong {
                font-weight: normal;
            }
        }
        &.today a {
            color: #d6e8f0;
        }
        &.weekend a {
            color: #bde1f0;
        }
        a#calendar-expand {
            color: #9ed8f0;
        }
        &.add a {
            color: #E8CA66;
        }
    }
    > li {
        &.first.moon-icon {

        }
        &.moon-icon a {
            width: 30px;
            img {
                width: 100%;
            }
        }
        &.about-after-class {}
        a.subscribe-link, &.add, &.weekend {

        }
        a {
            &.subscribe-link {
                color: #7BCDF0;
            }

            padding-top: 10px;
            padding-left: 8px;
            padding-right: 8px;

            @media #{$large-up}{
                padding-left: 25px;
                padding-right: 25px;
            }

            padding-bottom: 7px;
            color: #EBE5E6;
            text-decoration: none;
            display: inline-block;
            font-weight: normal !important;
            text-transform: lowercase;
            font-size: 0.8em;
        }
    }
    > li a {
        &:hover, &:active {}
    }
    @media #{$small-up} {
        li a#calendar-expand {
            &:after {
                top: 15px;
                border-width: 7px 4.5px 0 4.5px;
                left: 3px;
                margin: 4px;
            }
            &.active:after {
                top: -10px;
                border-width: 0 4.5px 7px 4.5px;
                left: 3px;
                margin: 4px;
            }
        }
        ul {
            width: 100px;
            font-size: 0.8em;
        }
        li.weekend {

        }
    }
    @media #{$medium-up} {
        > li.first {
            strong {
                display: inline-block;
            }
            &.moon-icon {
                display: none;
            }
        }
        li {
            a {
                font-size: 1em;
            }
        }
        > li.first {
            display: inline-block;
        }
    }
}

.first a:hover, #news a:hover {
    background-image: url("../images/nav_underdef.png");
}

.today a:hover {
    background-image: url("../images/nav_underTod.png");
}

.weekend a:hover {
    background-image: url("../images/nav_underWeeknd.png");
}

.suscribe a:hover {
    background-image: url("../images/nav_underSusc.png");
}

.add a:hover {
    background-image: url("../images/nav_under.png");
}

.about-after-class a:hover, .nearby a:hover {
    background-image: url("../images/nav_underdef.png");
}

#page_navigation {
    ul {
        > li a#calendar-expand.active {}
        ul {
            position: absolute;
            width: 58px;
            left: -9999px;
            z-index: 2000;
            background-color: #342836;
            /*border: 1px solid #66d1fc;*/
            border-top: none;
            font-size: 0.6em;
            a, span {
                padding: 10px;
                height: auto;
            }
        }
        li a.external:after {
            content: "";
        }
        ul span {
            display: inline-block;
        }
        li:hover ul {
            left: auto;
        }
        @media #{$small-up} {
            li a {
                font-size: 1em;
            }
        }
        @media #{$xlarge-up} {
            li a {
                font-size: 1.1em;
            }
        }
    }
}

#SearchForm_SearchForm_Search {
    @media #{$small-up} {
        background-image: none;
        margin-top: 3px;
    }
}