#page_header {
    background-image: url("../images/afterclass_illustration.jpg");
    background-position: 100px 0;
    background-size: contain;
    background-color: #312D2E;
    background-repeat: repeat-x;
    .big_header {
        position: relative;
        top: 0px;
        margin: 0;
        padding: 0;
        color: #ffd026;
        letter-spacing: -6px;
        text-shadow: 4px 4px 8px #000000;
        margin-left: -10px;
        @media only screen and (max-width: 1160px) {
            margin-top: 15px;
        }

        .subheader{
            margin-top: 5px;
        }
        a {
            color: #ffd026;
            text-decoration: none;
            img {
                width: 100%;
            }
        }
    }
    p {
        display: inline;
        left: 0;
        font-size: 1em;
        color: #d0c2d0;
        text-transform: lowercase;
        background-repeat: no-repeat;
        padding: 0;
        text-shadow: 0px 1px 14px rgba(0, 0, 0, 0.8);
        display: none;
        margin: 0;
        margin-top: -10px;
        em {
            text-transform: uppercase;
            font-style: normal;
        }
    }
    .row {
        background: url("../images/header-buildings-smaller.png");
        background-repeat: no-repeat;
        background-position-x: 100%;
        background-position-y: 75%;
        height: 100%;
        background-size: 100%;
    }
    a {
        font-weight: normal;
    }
    .big_header {
        line-height: 0.6;
    }
}

#page_navigation {
    background-color: #312D2E;
    .secondary-nav {
        display: none;
    }
}

/* Secondary Nav Styles */

#secondary-nav {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.secondary-nav {
    h3 {
        margin: 0;
    }
    p {
        margin: 0.5em 0;
    }
}

#page_navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        float: left;
        margin-left: 0;
        &.first {
            margin-left: -7px;
        }
        ul {
            li {
                float: none;
                margin: 0;
                text-align: left;
                &.no-events span {
                    color: #8f8f8f;
                    &:hover {
                        color: #8f8f8f;
                    }
                }
                a:hover {
                    background-color: #6c5370;
                    background-image: none !important;
                }
            }
            float: none;
        }
        &.first a {
            text-align: center;
        }
        a {
            &#calendar-expand {
                &:after {
                    content: '';
                    width: 0px;
                    height: 0px;
                    border-style: solid;
                    border-width: 4px 2.5px 0 2.5px;
                    border-color: #ccb3d1 transparent transparent transparent;
                    position: relative;
                    top: 11px;
                    left: 1px;
                    margin: 2px;
                }
                &.active:after {
                    width: 0px;
                    height: 0px;
                    border-style: solid;
                    border-width: 0 2px 3px 2px;
                    border-color: transparent transparent #9356A2 transparent;
                    top: -7px;
                    left: 1px;
                    margin: 2px;
                }
            }
            strong {
                font-weight: normal;
            }
        }
        &.today a {
            color: #d6e8f0;
        }
        &.weekend a {
            color: #bde1f0;
        }
        a#calendar-expand {
            color: #9ed8f0;
        }
        &.add a {
            color: #E8CA66;
        }
    }
    > li {
        &.first.moon-icon {
            display: block;
        }
        &.moon-icon a {
            width: 30px;
            img {
                width: 100%;
            }
        }
        &.about-after-class {}
        a.subscribe-link, &.add, &.weekend {
            display: none;
        }
        a {
            &.subscribe-link {
                color: #7BCDF0;
            }
            display: block;
            padding-top: 10px;
            padding-left: 8px;
            padding-right: 8px;
            padding-bottom: 10px;
            color: #EBE5E6;
            text-decoration: none;
            display: block;
            font-weight: normal !important;
            text-transform: lowercase;
            font-size: 0.8em;
        }
    }
    > li a {
        &:hover, &:active {}
    }
}

.first a:hover, #news a:hover {
    background-image: url("../images/nav_underdef.png");
}

.today a:hover {
    background-image: url("../images/nav_underTod.png");
}

.weekend a:hover {
    background-image: url("../images/nav_underWeeknd.png");
}

.suscribe a:hover {
    background-image: url("../images/nav_underSusc.png");
}

.add a:hover {
    background-image: url("../images/nav_under.png");
}

.about-after-class a:hover, .nearby a:hover {
    background-image: url("../images/nav_underdef.png");
}

#page_navigation {
    ul {
        > li a#calendar-expand.active {}
        ul {
            position: absolute;
            width: 58px;
            left: -9999px;
            z-index: 2000;
            background-color: #342836;
            /*border: 1px solid #66d1fc;*/
            border-top: none;
            font-size: 0.6em;
            a, span {
                padding: 10px;
                height: auto;
            }
        }
        li a.external:after {
            content: "";
        }
        ul span {
            display: block;
        }
        li:hover ul {
            left: auto;
        }
    }
    span {
        color: #333;
    }
}

@media only screen and (min-width: 480px) {
    #page_header .row {
        background-size: 75%;
    }
    #page_navigation ul {
        float: left;
        li a {
            font-size: 1em;
        }
    }
    #SearchForm_SearchForm_Search {
        background-image: none;
        margin-top: 3px;
    }
    #page_header .big_header a img {
        width: 65%;
    }
    #page_navigation ul {
        li a#calendar-expand {
            &:after {
                top: 15px;
                border-width: 7px 4.5px 0 4.5px;
                left: 3px;
                margin: 4px;
            }
            &.active:after {
                top: -10px;
                border-width: 0 4.5px 7px 4.5px;
                left: 3px;
                margin: 4px;
            }
        }
        ul {
            width: 100px;
            font-size: 0.8em;
        }
        li.weekend {
            display: block;
        }
    }
}

@media only screen and (min-width: 594px) {
    #page_navigation ul li a.subscribe-link {
        display: block;
    }
}

@media only screen and (min-width: 768px) {
    #page_header {
        .big_header a img {
            width: 30%;
        }
        p {
            display: block;
            margin-left: 10%;
        }
    }
    #page_navigation ul {
        li {
            &#news {
                display: block;
            }
            a {
                font-size: 1.1em;
                &#calendar-expand {
                    &:after {
                        top: 20px;
                    }
                    &.active:after {
                        top: -10px;
                    }
                }
            }
        }
        > li.about-after-class {
            display: block;
        }
    }
}

@media only screen and (min-width: 960px) {
    #page_header {
        .row {
            background-position-y: 90%;
        }
        p {
            top: -15px;
        }
        .row {
            background: url("../images/header-buildings-medium.png");
            background-position-y: 58%;
            background-position-x: 100%;
            background-repeat: no-repeat;
            background-size: 42%;
        }
    }
    #page_navigation ul {
        > li.first {
            strong {
                display: block;
            }
            &.moon-icon {
                display: none;
            }
        }
        li {
            &.add {
                display: block;
            }
            float: left;
            a {
                font-size: 1em;
            }
        }
        > li.first {
            display: inline;
        }
    }
    /* Main Navigation */
}

@media only screen and (min-width: 1024px) {
    #page_header {
        height: 95px;
    }
}

@media only screen and (min-width: 1100px) {
    #page_header {
        p {
            font-size: 1.1em;
        }
    }
    #page_navigation ul li a {
        font-size: 1.1em;
    }
}

@media only screen and (min-width: 1400px) {}