.marquee {
    margin: auto;
    @media #{$large-up}{
        //padding: 0 30px; 
    }

    @media #{$xlarge-up}{
        //padding: 0 50px;
    }
}

.slider {
    display: none;
}

.hero-event {
    color: #DDD7D8;
    padding: $column-gutter $column-gutter/2;
    @media #{$medium-up} {
        h1 {
            margin: 1em 0;
            font-size: 1em;
            
            padding-right: 0.1em;
        }
    }

    @media #{$large-up}{

    }

    h1 {
        margin: 0.5em 0;
        padding: 0px;
        font-size: 1.2em;
        text-align: center;
        @media #{$large-up} {
            font-size: 1.8em;
        }
        a {
            color: white;
        }
    }
    h2 {
        font-size: 2em;
        margin: 0.5em 0;
        color: #E6D9B1;
    }
    strong {
        color: #e5b9e5;
    }
    hr {
        border-top: 1px solid #3C3B3B;
        color: #0E0E0E;
        height: 2px;
    }
    img {
        width: 100%;
        border-top: none;
    }
    img.featured-logo {
        border: none;
        position: absolute;
        top: 10px;
        left: -30px;
    }
    .hero-event-content {
        color: white;
        position: relative;
        @media #{$large-up} {
            a.more-event-info {
                display: block;
            }
            .hero-event-when p {
                display: block;
            }
            h1 small {
                color: #ddd;
                font-size: 0.7em;
            }
        }
    }

    .hero-event-image-container {
        overflow: hidden;
        background-size: cover;
        height: 200px;
        background-position: 50% 35%;
        -webkit-box-shadow: inset -16px 10px 26px -15px rgba(0, 0, 0, 0.9);
        -moz-box-shadow: inset -16px 10px 26px -15px rgba(0, 0, 0, 0.9);
        box-shadow: inset -16px 10px 26px -15px rgba(0, 0, 0, 0.9);
        position: relative;
        background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAArgAAAGqCAMAAADX6McQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoTWFjaW50b3NoKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo2OTk5NzhGOUNBNjkxMUU0QThCMkFBQTgwM0E4MzAyMCIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo2OTk5NzhGQUNBNjkxMUU0QThCMkFBQTgwM0E4MzAyMCI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjY5OTk3OEY3Q0E2OTExRTRBOEIyQUFBODAzQTgzMDIwIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjY5OTk3OEY4Q0E2OTExRTRBOEIyQUFBODAzQTgzMDIwIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+qNtH+AAAAMBQTFRFPi5CVDJedTiGbjZ+fjmRQC9FVjJgZjV0djiIXjRqbDZ8TDFUSjBSZDVycDeATjFWYDRteDiKUzJcRjBMaDV2WzNmYzVwWDNjQi9IUDFZXTRoaTZ4RC9KSTBQSDBPUTJacjeDczeEYjRvbDZ7ezmOWTNkWjNlUjJbYTRuSjBRRzBOTzFYcTeCXDNoZDVxfDmPVzNhXDNnRTBLdDeFXzRrSzFTeTiLZzV1ejiMbTZ9RTBMbzd/TTFVgDqUZTVzajZ5ugUjmQAADnxJREFUeNrs1ouWFOUZhtERTCCJEjGagxoFlHgiYEKCBCS5/7vKdM90d1V3VXUd/qr6vpn9XsOz3rUvLubar4bsz732RdP+ebU3b9784Wg/1PZlbX+t7fvdPrjev/f7XW2/VPf76n6s7C+1fXXYt5V9XNl7Lft1dT8d9qfKnh72t8o+Pewfm/19u88q+01l/6rso8O+q+zJbn+s7flmH27338ruHfZzZZ9c7/P6/te4r3f77Wb/qezu3bsXIcKd0O0X+27fdHbbK9wPzoRbsNs+4Q7s9mlzt5VwP2sJd2K3z7u6vdfQba9w690uFm75bgce7g/lD7dft8UOt3i3fQ73o+ZwnzSH+7z5cO8VONyvOw/3LiiAQkIoxAgXFEBhIBRmCxcUQGFOKMwVLiiAwqxQiBAuKIDCYCjMFC4ogMK8UJgnXFC4DVB4viYU7r4FBVBICIW3b0EBFBJCYY5wQQEUZofC2uGCAiiMgsIM4YICKMwPhfLhggIoLACFdcMFBVAYCYXi4YICKCwBhdLhggIoLAKFNcMFBVAYDYXC4YICKCwDhbLhggIoLASF9cIFBVCYAIWi4YICKCwFhZLhggIoLAaFtcIFBVCYBIWC4YICKCwHhXLhggIoLAiFdcIFBVCYCIVi4YICKCwJhVLhggIoLAqFNcIFBVCYDIVC4YICKCwLhTLhggIoLAyF5cMFBVAoAIW3D0ABFBJCoUS4oAAKi0PhwQNQAIWEUCgQLiiAwvJQmB4uKIDCClBYNlxQAIVCUJgcLiiAwhpQmBouKIDCKlBYMlxQAIViUJgYLiiAwjpQmBYuKIDCSlBYLlxQAIWCUJgULiiAwlpQmBIuKIDCalBYKlxQAIWiUJgQLiiAwnpQGB8uKIDCilBYJlxQAIXCUBgdLiiAwppQePAMFEAhIRSWCBcUQKE4FJ49AwVQSAiFceGCAiisDIX5wwUFUJgBCqPCBQVQWBsKY8IFBVBYHQpzhwsKoDALFEaECwqgsD4UhocLCqAQAArzhgsKoDATFAaHCwqgEAEKQ8MFBVAIAYU5wwUFUJgNCgPDBQVQiAGFYeGCAigEgcJ84S4AhS87wv0eFG40FAaFCwqgEAUKQ8IFBVAIA4Vnj0ABFBJCYUC4oAAKcaDw6BEogEJCKMwTLiiAwsxQ6B0uKIBCJCj0DRcUQCEUFOYIFxRAYXYo9AwXFEAhFhT6hQsKoBAMCuXDBQVQWAAKvcIFBVCYGQpvh0KhT7igAArhoFA6XFAAhUWg0CNcUDgJ91tQWBsK58O9XVD4ERRyQKFsuKAACgtB4Wy4oAAKEaFwLlxQAIWQUCgZLiiAwmJQePQYFEAhIRS6wwUFUAgKhcePQQEUEkKhM1xQAIWoUOgKFxRAISwUSoULCqCwKBQ6wgUFUIgLhfZwQQEUAkOhTLigAAoLQ6E1XFAAhchQaAsXFEAhNBRKhAsKoLA4FFrCBQVQiA2F5nBB4UZB4ckNhML0cEEBFFaAQmO4oAAK0aHQFC4ogEJ4KEwNFxRAYRUoNIQLCqAQHwqn4YICKCSAwuOXoAAKCaHw8iUogEJCKByHCwqgkAIKU8IFBVBYDQpH4YICKOSAQj1cUACFJFAYHy4ogMKKUKiFCwqgkAUK1XBBARTSQOHlHVAAhYRQqIQLCqCQBwp37oACKCSEwrhwQWHGbj9t7hYUalDYhwsKoJAJCrtwbyIUfgGFmwuFMeGCAiisDoXrcEEBFHJB4Src1bsFBVAY2O0dUACFhFDYhgsKoJANCptwQQEU0kFhnnBBARRmhsJluKAACvmgMCxcUACFIFCYI1xQAIXZoTAoXFAAhShQGBIuKIBCGCiUDxcUQGEBKAwIFxRAIQ4U+ocLCqAwotu5oFA6XFAAhUWg0DtcUACFSFDoGy4ogEIoKJQN90ZB4WNQCAyFnuGCAijEgkK/cFN2Cwo3GQolwwUFUFgMCr3Cnd4tKIBCWSj0CRcUQCEcFMqFCwqgsCAU7ty/AAVQyAeF+2fDBQVQCAiFUuGCAigsCoWz4YICKESEwrlwQQEUQkKhTLigAAoLQ+FMuKAACjGh0B0uKIBCUCiUCBcUQGFxKHSGCwqgEBUKXeGCAiiEhcL0cEHhpkDh80xQ6AgXFEAhLhTawwUFUAgMhanhggIorAKF1nBBARQiQ6EtXFAAhdBQmBYuKIDCSlBoCRcUQCE2FJrDBQVQCA6FKeGCAiisBoXGcEEBFKJDoSlcUACF8FAYHy4ogMKKUGgIFxRAIT4UTsMFBVBIAIWx4YICKKwKhZNwQQEUMkDhOFxQAIUUUBgXLiiAwkgoPCoEhaNwQeF2QOGT9FCohwsKoJAECmPCBQVQWB0KtXBBARSyQKEaLiiAQhooDA8XFEAhABQq4YICKOSBwiFcUACFRFAYGi4ogEIIKNx/eAEKoJAPCrtwQQEUUkHh4aBwQQEUgkDhOlxQAIVcULgKFxRAIRkUhoQLCqAQBgrbcEEBFLJBYRMuKIBCOij0DxcUQCEQFC7DBQVQyAeFaeGCQlkofAQKvQ+3Z7igAAqhoNAzXFAAhVhQmBIuKIDCalDoFy4ogEIwKPQKFxRAIRoUxocLCqCwIhT6hAsKoBAOCj3CBQVQiAeFseGCAiisCoXz4YICKASEwtlwQQEUIkJhXLigAAorQ+FcuKAACiGh8PDVBSiAQj4ovBoRLiiAwupQ6A4XFEAhKBQ6wwUFUIgKheHhggIoBIBCV7igAAphodARLiiAQlwoDA0XFEAhBBTawwUFUAgMhdZwQQEUIkNhWLigAApBoNAWLiiAQmgotIQLCqAQGwpDwgUFUAgDheZwQQEUgkOhMVxQAIXoUOgfLiiAQiAoNIULCqAQHgoN4YICKMSHQt9wQQEUQkHhNFxQAIUEUDgJFxRAIQMUXr2+AAVQyAeF10fhggIopIDCUbigsDAUvgOFcVDoEy4ogEI4KNTDBQVQSAKFWrigAApZoHA+XFAAhYBQqIYLCqCQBgqvv7kABVDIB4Vz4YICKISEwjf7cEEBFBJBYR8uKIBCJih0hwsKoBAUCrtwQQEUUkHhOlxQAIVcUOgKFxRAISwUrsIFBVBIBoVtuKAACtmg0B4uKIBCYChswgUFUJgJCndmg8JluKAACjGg8HAAFNrCBQVQCA2F7nBBARSCQqElXFAAhdhQaA73lkPhKSiEh0JXuKAACmGh0BguKIBCdCg0hQsKoBAeCu3hggIoBIZCQ7igAArxoXAaLiiAQgIotIULCqAQGgon4YICKGSAwnG4oAAKKaDQHC4ogEJwKByFCwqgkAMK9XBBARSSQKEpXFAAhfBQqIULCqCQBQrVcEEBFNJA4TRcUACFBFCohAsKoJAHCodwQQEUEkHhOFxQAIUUUNiHCwqgkAkKu3BBARRSQeGbFxegAAr5oPDiKlxQAIVcULgKFxRAIRkUquGCAiikgcI2XFAAhWxQ2IQLCqCQDgqHcEEBFBJB4TJcUACFfFDYhwsKoJAJCrtwQQEUUkGhEi4ogEIeKFyHCwqgkAsKV+GCwi2Cwt0bAYV9uKAACpmgsA0XFEChcLezQ2ETLiisCIUPQWEUFK7DBQVQyAWFy3BBARTyQaFHuKAACvGgsA0XFEAhGxQ24YICKKSDwtlwQQEUIkLhMlxQAIV8UDgJFxRAIQMUXrx/AQqgkA8K7x+FCwqgkAIKR+GCAijkgEJnuKAAClGhUA8XFEAhCRRq4YICKGSBQke4oAAKcaFQDRcUQOF8uC9jQKESLiiAQh4otIYLCitB4WdQ6NXtPlxQAIVEUNiHCwqgkAkKLeGCAijEhsIuXFAAhVRQuA4XFEAhFxQawwUFUIgOhatwQQEUkkFhGy4ogEI2KDSECwqgEB8Km3BBARTSQeEyXFAAhXxQOAkXFEAhAxTOhAsKoBATCsfhggIopIDCUbigAAo5oNAZLiiAQlQo1MMFBVBIAoVauKAAClmg0BEuKIBCXChUwwUFUEgDhUq4oAAKeaDQGi4ojO0WFJaAwiFcUACFRFDYhzuoW1AAhZWhMC5cUACFlaGwCxcUQCEVFK7DBQVQyAWFMeGCAiisDoWrcEEBFJJBYRsuKIBCNigMDxcUQCEAFDbhggIopIPCZbigAAr5oDA0XFAAhRBQOA4XFEAhBRSOwgUFUMgBhWHhggIozAWFF1PCBQVQSAKFWrigAApZoDAkXFAAhTBQqIabDwo/gcJthUIlXFAAhTxQ6B8uKIBCICgcwgUFUEgEhX24oAAKmaDQN1xQAIVQUNiFCwqgkAoK1+GCAijkgkK/cEEBFIJB4SpcUACFZFDYhgsKoJANCn3CBQVQCAeFTbigAArpoHAZLiiAQj4onA8XFEAhIBSOwwUFUEgBhaNwQQEUckDhXLigAAohoVAPFxRAIQkUauGuDYX3QAEUioQLCqAQFArVcBfqFhRAocDhHsIFBVDIA4WucEEBFMJC4RAuKIBCIijswwUFUMgEhfZwQQEUAkNhFy4ogEIqKLz/7gIUQCEfFNrCBQVQCA2Fd9twQQEUkkFhGy4ogEI2KDSHCwqgEBwKm3BBARTSQeEyXFAAhXxQaAoXFEAhPBQq4YICKOSBwiFcUACFRFA4DRcUQCEBFPbhggIoZILCLtzTbkEBFAJDoT1cUACFwFC4DhcUQCEXFK7CBQVQSAaFtnBBARRCQ2EbLiiAQjYobMIFBVBIB4XmcEEBFIJD4TJcUACFfFA4hAsKoJAICk3hggIohIfCPlxQAIVMUNiFCwqgkAoKp+GCAigkgMJ1uKAACrmgcBUuKIBCMigch3ujoPDZDYfCg1sMhW24oAAK2aCwCRcUQCEdFOrhTj7cr0ABFBaBwmW4oAAK+aAwNVxQAIVVoFANFxRAIQ0UKuGCAijkgcK0cEEBFFaCwiFcUACFRFDYhwsKoJAJClPCBQVQWA0Ku3BBARRSQeHdu/8LMACX64JAYQhefgAAAABJRU5ErkJggg==);
        a {
            display: block;
            height: 100%;
        }
        @media #{$large-up} {
            height: 400px;
        }
        @media #{$xxlarge-up} {
            height: 425px;
        }
    }
}

.hero-event.homepage{

    position: relative;

    .hero-event-content{
        display: none;
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        background: rgba(#333, 0.4);
        padding-top: 80px;

        @media #{$large-up}{
            padding-top: 100px;
        }

    }

    &:hover{

        .hero-event-content{
            display: block;

        }

    }

}