.marquee{
    margin: auto;
}
.slider{
    display: none;
}
.hero-event {
    color: #DDD7D8;

    h1 {
        margin: 0.5em 0;
        padding: 0px;
        
        font-size: 1.2em;
        a {
            font-size: 1.2em;
            color: white;
            //background: rgba(28, 27, 27, 0.21);
        }
    }
    h2 {
        font-size: 2em;
        margin: 0.5em 0;
        color: #E6D9B1;
    }
    strong {
        color: #e5b9e5;
    }
    hr {
        border-top: 1px solid #3C3B3B;
        color: #0E0E0E;
        height: 2px;
    }

    img {
        width: 100%;
        border-top: none;
    }
    img.featured-logo {
        border: none;
        position: absolute;
        top: 10px;
        left: -30px;
    }

    .hero-event-content {
        color: #ebe5e6;
        position: relative;

        text-shadow: 0 0 10px #333;

        @media #{$large-up} {
            //margin-top: -200px;
            //margin-bottom: 100px;

            h1 small{
                color: #888;
                font-size: 0.7em;
            }
        }



    }

    @media only screen and (min-width: 480px) {

    }
    @media only screen and (min-width: 768px) {
        padding: 10px 5px;
        padding-bottom: 0;
        h1 {
            margin: 1em 0;
            font-size: 1em;
            text-align: center;
            a,span{
                //background-color: rgba(#1D1D1C, 0.3);
                padding-right: 0.1em;
            }
        }

    }

    .hero-event-image-container {
        overflow: hidden;
        background-size: cover;
        height: 200px;
        background-position: 50% 35%;
        -webkit-box-shadow: inset -16px 10px 26px -15px rgba(0,0,0,0.9);
        -moz-box-shadow: inset -16px 10px 26px -15px rgba(0,0,0,0.9);
        box-shadow: inset -16px 10px 26px -15px rgba(0,0,0,0.9);
        a{
            display: block;
            height: 100%;
        }

        @media #{$large-up} {
            height: 325px;
        }
        @media #{$xxlarge-up} {
            height: 350px;
        }
    }


}

/* Old Stuff to delete :

.hero-event-specifics {
    margin: 10px 0;
}

.hero-event-when p {
    display: none;
}

.hero-event-when p.first {
    display: block;
}

.hero-event-content a.more-event-info {
    color: white;
    font-weight: normal;
    display: none;
}
.hero-event #share-area {
    float: left;
    margin: 0;
}

.homefeatureitem .event_text a:hover {
    color: #dbb700;
}
*/




@media only screen and (min-width: 480px) {
    .hero-event.homepage .hero-event-text {
        //display: none;
    }
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 960px) {
    .hero-event h1 a {
        font-size: 1.4em;
    }
    .hero-event-content a.more-event-info {
        display: block;
    }
    .hero-event-when p {
        display: block;
    }
}