#single-page-content {
    min-height: 200px;
}

#single-page-content h2 {
    padding-bottom: 10px;
    border-bottom: 1px solid #2E2E2E;
    color: #C1B5CE;
}
#single-page-content.category h2 { border-bottom: none }
#single-page-content h3 { color: #7BACB9 }
#single-page-content a { color: #d7b548 }
#single-page-content a:hover { color: #d2af3c }
#single-page-content img { padding: 10px; }
#secondary_header h1 {
    padding: 5px 0;
    margin: 5px 0;
    color: #C4E1F1;
    font-size: 1.8em;
    text-transform: capitalize;
    line-height: 1;
}
#secondary_header h1 span {
    color: #555;
    font-size: 1.5em;
}

#facebook-like-box {
    overflow: hidden;
    *{
        width: 100% !important;
    }
}



/* Google Map Foundation Fixes */
//.gm-style div div *{ -webkit-transform: none !important; }
.map-container img, object, embed { max-width: none; }

#map_canvas embed { max-width: none; }

#map_canvas img { max-width: none; }

#map_canvas object { max-width: none; }


.button {
	padding: 0.35em 0.5em;
	background: $primary-color;
	border: none;
	color: #FFF;
	display: inline-block;
	margin: 0.3em 0;
    text-transform: uppercase;
    font-size: 0.8em;

}

.fbButton {
	padding: 3px;
	background: #3b5998;
	border: none;
	color: #FFF;
	display: inline-block;
	margin: 0.3em 0;
    text-transform: uppercase;
    font-size: 0.8em;
}

.button.get-directions{
    background: #23A767;
}

.button.tag{

}

.button.more-dates {
    background: none;
    margin: 0;
    padding: 0;
}


#single-page-content a.button, a.button{ 
	color: #fff;
}
a.button:hover {
	color: #ddd;
}

