.map-container {
  position: relative;
}

.map-content{
	position: relative;
}

#mapcanvas {
	height: 300px !important;
	max-width: none;
}

#mapcanvas img {
	max-width: none;
}

@media only screen and (min-width: 1024px) { 
	#mapcanvas {
		height: 600px !important;
		max-width: none;
	}
	
	#mapcanvas img {
		max-width: none;
	}
}

@media only screen and (min-width: 1024px) { 
  .map-jumplist{
    //top: 0;
    //position: absolute;
    padding: 5px;
    z-index: 1000;
    background: rgba(29, 28, 28, 0.3);
    font-size: 0.85em;
    width: 100%;
  }
}

div.infowindow {
    max-height:250px;
    overflow-y:auto;
}

.event_deets {
	margin: 5px 7px 0px 0px;
	padding: 10px;
	width: 30%; 
	float: left;
}

.event_deets h3 {
	font-size: 1.75em !important; /* event bubble header */
}

.event_deets ul {
	padding-left: 0;
	padding-bottom: 5px;
	border-bottom: solid black 1px;
}

.event_deets li { 
	color: black; 
	font-size: 1.33em;
	margin-right: 5px;
	list-style: none;
}

.event_deets p {
	font-size: 1.15em !important;
}

.event_pic {
	width: 59%; 
	float: left; 
	margin: 15px 0px 0px 5px;
	padding: 10px;
}

.event_pic > img {
	max-width: 100%; 
	height: auto; 
	padding: 2px;
	box-shadow: 2px 5px 15px 5px #222222;
}

.more_events_here {
	clear: both;
	margin: 0;
	padding-left: 10px;
}

.infobox-header {
  padding: 1px 3px 1px 0 !important;
  font-size: 0.9em;
  margin: 0;
  text-transform: uppercase;
}
	
.infobox-list {
	list-style:none; 
	color: black; 
	padding-left: 0; 
	margin: 3px 1px;
}

.infobox-list li {
	list-style: none;
	color: black;	
}

.canceled {
	color: #FF0000 !important;
}

.map_info {
	list-style:none; 
	display: inline-block; 
	margin: 0 0 3px 0;
}

.map_info_part {
	font-size: 1em; 
	vertical-align: middle;
}
#mapcanvas h3 {
  font-size: 1.33em;
  margin: 0;
}
#mapcanvas h3 a {
  color: #348eb4;
  font-size: inherit;
}

#mapcanvas p {
  color: #000;
} 

.event_bubble {
	max-width: none;
	padding-right: 3px;
	font-size: 0.6em;
}

@media only screen and (min-width: 480px) { 
  .event_bubble {
    font-size: 0.9em;
  }
}
	
@media only screen and (min-width: 1024px) { 
  .event_bubble {
    font-size: 1em;
  }
}

.event_deets {
	margin: 5px 7px 0px 0px;
	padding: 10px;
	width: 100%; 
	float: left;
}

.event_deets h3 {
	font-size: 1.75em !important; /* event bubble header */
}

.event_deets ul {
	padding-left: 0;
	padding-bottom: 5px;
	border-bottom: solid black 1px;
}

.event_deets li { 
	color: black; 
	font-size: 1.33em;
	margin-right: 5px;
	list-style: none;
}

.event_deets p {
	font-size: 1.15em !important;
}

.event_pic {
	display: none;
}

.event_pic > img {
	max-width: 100%; 
	height: auto; 
	padding: 2px;
	box-shadow: 2px 5px 15px 5px #222222;
}

.more_events_here {
	clear: both;
	margin: 0;
	padding-left: 10px;
}

.infobox-header {
	margin: 5px 0 5px 0;
	padding: 1px 3px 1px 0 !important;
}

.infobox-list {
	list-style: none; 
	color: black; 
	padding-left: 0; 
	margin: 3px 1px;
}

