body.orientation{
	background-color: #35314A;
}


.orientation-form 
{
	background-color: #35314a;
	margin-top: 159px;
}

.after-logo 
{
	padding: 25px; 
}

.after-form
{
	//padding-top: 72px;
	padding: 75px 25px 25px 25px; 
}
