body.orientation{
	background-image: url('../images/orientation/tile.jpg');
	background-color: #35314A;
}

.orientation-container{
	background-color: #35314a;
}

.orientation-form 
{
	
	margin-top: 159px;
}

.after-logo 
{
	padding: 25px; 
}

.after-form
{
	//padding-top: 72px;
	padding: 75px 25px 25px 25px; 
}

.tile-container{

}