#SearchForm_SearchForm_action_results { display: none }

#page_navigation{
    /* Search box */
    #SearchForm_SearchForm{
        margin: 0;
        border: none;
        color: #EBE5E6;
        font-size: 0.7em;
        padding: 5px;
        display: block;
        width: 100%;
        fieldset{
            padding: 0;
            border: none;
            margin: 0;
        }
        input{
            background: lighten($ground, 10);
            box-shadow: none;
            margin:0;
            border-radius: 50px;
            padding: 0;
        }
        #SearchForm_SearchForm_Search:hover{
            cursor: pointer;
        }
        #SearchForm_SearchForm_Search:hover:focus{
            cursor: auto;
        }
    }
}


/* Results */

#SearchResults {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#SearchResults li {
    margin: 10px 0;
    padding: 10px;
}
