.sidebar-sticky-content.stuck {
    @media only screen and (min-width: 1280px){
        width: 426.65625px;
    }
}

.LocalistCalendar .sidebar-sticky-content.stuck{
    @media only screen and (min-width: 1400px){
        width: 479px; 
    }
}

#the-news {
    h2 {
        border-bottom: 2px solid #e9cb67;
        text-align: left;
        font-size: 2.2em;
        text-transform: lowercase;
        margin: 10px 0;
    }
    h3 {
        font-size: 1.5em;
        color: #fff5d1; 
        margin: 0;

        @media #{$large-up}{
            font-size: 1.8em;
            line-height: 1.1;
        }

        a {
            color: white;
            &:hover{
                color: #e5dcbc;
            }
        }  
    }

    .news-entry {
        color: #E6E2DF;
        padding: 10px 0;
        font-family: 'Open Sans', sans;
        font-size: 1em;

        img{
            width: 100%;
            margin-bottom: 5px;
        }

        &:first-child {
            padding-top: 0;
        }
        .news-posted-on {
            color: #999;
            text-transform: uppercase;
            margin: 0.4em 0;
            font-size: 0.9em;
        }
        .news-text p{
            margin: 0;
        }
    }

}