.PrimarySponsorImg {
	width: 100%; 
    margin: auto;
    display: block;
}

/* CAB */
.sponsor-15 h1{
    color: #EA212E;
}

.sponsor-15 strong {
    color: #A7A7A7;
}

.sponsor-15 a{
    color: #D82213; 
}
.sponsor-15 a.button.tag {
    background: #97372F;
    color: white;
}

.sponsor-15 .hero-event h2 {
    color: #C5C5C5;
}