/* FAIL */
h1, h2, h3, h4, h5, h6, .big_header {
font-weight: bold;
}
h3 a {
font-weight: bold !important;
}
h2 strong a {
font-weight: bold;
}
#page_navigation ul li a strong {
font-weight: bold;
}
#secondary_header h2 {
font-weight: bold;
}
.feature h2 strong {
font-weight: bold;
}
.event_date_tag .event_date_box strong {
font-weight: bold;
}
#detail_event_description h2{
font-weight: bold;
}
#Form_Form_action_process{
font-weight: bold;
}
.share p {
font-weight: bold;
}
#Form_addEventForm_action_addEvent {
font-weight: bold;
}
.homefeatureitem .event_text a {
font-weight:bold;
}