body.orientation{
	background-image: url('../images/orientation/tile.jpg');
	background-color: #010101;
}

.orientation-container{
	background-color: rgba(19, 19, 19, 0.78);
}

.orientation-form 
{
	margin-top: 159px;
}

.after-logo 
{
	padding: 25px; 
}

.after-form
{
	padding: 0 25px 25px 25px; 
}

.alert-area{
	font-size: 2em;
	color: #A4DCF4;
	margin: 0;
	height: 75px;
	padding: 1em 0;
	margin: 1em 0;
	p{
		margin:0;
	}
}